*{
    background-color: rgb(122, 122, 122);
    color: #fff;
}

.container{
    text-align: center;
    margin-top: 200px;
}

input{
    border-color: cyan;
    box-shadow: 0px 5px 10px cyan;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
}

.button{
    background-color:rgb(12, 70, 70);
    color: #fff;
    width: 200px;
    border: none;
    padding: 10px;
    border-radius: 15px;
}